body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #000;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #dc3545;
}

.btn-outline-warning i {
  color: red;
}

/* Estilo para tabla de detalles */
.row.text-center .col {
  font-weight: bold;
  color: #dc3545;
}

/* Estilo para el dropdown de favoritos */
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
